* {
    margin: 0;
    padding:0;

}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}
ul {
    list-style: none;
    color: #070707;
}
h1 {
    margin-left: 10px;
    font-size: 3rem;
}
#subtitulo {
    margin-left: 25px;
    margin-top: auto;
    font-size: 1.5rem;
    font-weight: lighter;
    color: #070707;
    padding: 0%;
}
#img-home {
    background-image: url(../img/home-img.jpg);
    background-position: center;
    background-size: cover;
    height: 550px;
    margin-top: 70px;
    max-width: 100%;  
    position: relative;     
}
.titulo-seccion {
    color: #ffffff;
    background-color: rgba(8, 8, 8, 0.50);
    font-size: 3rem;
    padding: 5px;
    position: absolute;
    left: 50px;
    top: 150px;
}
header {
background-color: white;
}
#nav{
    position: absolute;
    right: 0;
}
#nav li {
display: inline-block;
height: 100%;
text-decoration: none;
}
#nav li a {
    text-decoration: none;
    color: #070707;
    font-weight: bold;
    font-size: 1.3rem;
    margin: 20px;
}
#nav ul li a:hover {
    background-color: rgba(215, 207, 252 , 7);
}
.card {
    display: flex
    justifycontent: space-between;
    margin-left: 220px;
    margin-right: 220px;
}
.card div {
    width: 280px; 
    display: inline-block;
    margin-top: 50px;
}
.card h3 {
    text-align: center;
    margin: 20px;
    font-size: 1.6rem;
}
.card img {
    width: 200px; 
    height: 200px;
    display: block;
    margin: 0 auto;
    border-radius: 150%;
    border: solid 5px  rgba(215, 207, 252 , 7);
}
footer a {
    text-decoration: none;
    color: #070707;
    margin: 100px 50px;
    display: inline-block;
    font-size: 1rem;
}
footer a:hover {
    background-color: rgba(215, 207, 252 , 7);
}

/*PAGINA HTML NOSOTROS*/
#img-nosotros {
    background-image: url(../img/nosotros.jpg);
    background-position: center;
    background-size: cover;
    height: 550px;
    margin-top: 70px;
    margin-bottom: 0px;
    max-width: 100%;  
    position: relative;
}
.descripcion {
    color: #ffffff;
    background-color: rgba(8, 8, 8, 0.50);
    font-size: 2.5rem;
    padding: 5px;
    position: absolute;
    left: 50px;
    top: 200px;
    margin: auto;
    margin-top: 19px;
}
#yo  {
   color: #070707;
   margin: 20px;
   font-size: 1.6rem;
   padding: 8%;
   left: 50px;
   top: 150px;
}
/*pagina html contacto*/
#img-contacto {
    background-image: url(../img/contacto-imagen.jpg);
    background-position: center;
    background-size: cover;
    height: 550px;
    margin-top: 70px;
    margin-bottom: 0px;
    max-width: 100%;  
    position: relative;
}
#contacto {
margin: 20px;
font-size: 2rem;
color: rgb(157, 135, 253);
}
label{
    display: block;
    margin-top: 20px;
    margin-left: 20px;
    font-size: larger;
    font-weight:bold;
}
input {
    margin-left: 20px;
    width: 250px;
    height: 30px;
}
#email {
    width: 350px;
    height: 30px;
}
textarea {
    margin-left: 20px;
}
.botones{
    border-color: rgb(189, 174, 255);
    background-color:  rgb(236, 232, 255);
}
#img-servicios {
    background-image: url(../img/servicios-imagen.jpg);
    background-position: center;
    background-size: cover;
    height: 550px;
    margin-top: 70px;
    margin-bottom: 100px;
    max-width: 100%;  
    position: relative;
}
#estetica-manos {
    background-image:url(../img/servicio-manos.jpg);
    background-position: center;
    background-size: cover;
    height: 400px;
    margin-top: 100px;
    margin-bottom: 100px;
    max-width: 100%;  
    position: relative;
}
#estetica-manos h3 {
    color: #ffffff;
    background-color: rgba(8, 8, 8, 0.50);
    font-size: 3rem;
    padding: 5px;
    position: absolute;
    left: 50px;
    top: 150px;
}
.incluye h5 {
    font-size: 1.8rem;
    margin-top: 80px; 
    margin-left: 20px;
}
.incluye ul li {
    font-size: 1.3rem;
    margin: 20px 30px;

}
#estetica-pies {
    background-image:url(../img/estetica-pies.jfif);
    background-position: center;
    background-size: cover;
    height: 400px;
    margin-top: 100px;
    margin-bottom: 100px;
    max-width: 100%;  
    position: relative;
}
#estetica-pies h3 {
    color: #ffffff;
    background-color: rgba(8, 8, 8, 0.50);
    font-size: 3rem;
    padding: 5px;
    position: absolute;
    left: 50px;
    top: 150px;
}
#esmaltados {
    background-image:url(../img/esmaltado.jpg);
    background-position: center;
    background-size: cover;
    height: 400px;
    margin-top: 100px;
    margin-bottom: 100px;
    max-width: 100%;  
    position: relative;
}
#esmaltados h3 {
    color: #ffffff;
    background-color: rgba(8, 8, 8, 0.50);
    font-size: 3rem;
    padding: 5px;
    position: absolute;
    left: 50px;
    top: 150px;
}
.incluye-card { 
    width: 1000px;
    height: 1000px;
    display: inline
    
}
.incluye-card div {
    width: 500px; 
    display: inline-block;
    margin-top: 50px;
}
.incluye-card img {
    width: 400px;
    display: block;
    margin: 0 auto;
    border: solid 5px  rgba(215, 207, 252 , 7);
}
.incluye-card h4 {
    text-align: center;
    margin: 20px;
    font-size: 1.6rem;
}
.incluye-card p {
    text-align: center;
    margin: 10px;
    font-size: 1.6rem;
}
#img-preguntas {
    background-image: url(../img/preguntas.jpg);
    background-position: center;
    background-size: cover;
    height: 550px;
    margin-top: 70px;
    margin-bottom: 0px;
    max-width: 100%;  
    position: relative;
}
#preguntas h3 {
    font-size: 1.5rem;
    margin-top: 20px;
    margin-left: 20px;

}
#preguntas p {
        font-size: 1.2rem;
        margin-top: 10px;
        margin-left: 25px;
}